.profile-header {
  transform: translateY(5rem);
}
.backgroundImg {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20190826/pngtree-dark-abstract-background-with-overlap-layers-image_305024.jpg');
}
